<div class="form-row">
  <div class="col-sm-4">
    <div class="form-group-md-4">
      <label for="taskname" class="control-label">TaskName</label>
      <input #taskname name="taskname" type="text" class="form-control">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="status"  class="control-label">Status</label>
      <input #status name="status" type="text" class="form-control">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="priority"  class="control-label">Priority</label>
      <input #priority name="priority" type="text" class="form-control">
    </div>
  </div>
</div>
<br/>
<div class="col-sm-12">
  <button class="btn btn-primary float-right" (click)="addTask(taskname.value,status.value,priority.value)">Add New Task</button>
</div>
<br/>
<br/>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let task of todoList">TaskName->{{task.name}} - Status-> {{task.status}} - Priority->{{task.priority}}</li>
</ul>
<br/>